* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, 
        rgba(0, 0, 255, 0.6) , 
        rgba(0, 255, 255, 0.6)) , 
    url(resource/background.jpg) ;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 80px;
}

.text-box {
    position: absolute;
    top: 5%;
    left: 35%;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 15px;

    animation-name: moveInLeft;
    animation-duration: 1s;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 18px;

    animation-name: moveInRight;
    animation-duration: 1s;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.container {
    position: absolute;
    top: 40%;
    left: 37%;
    max-width: 450px;
    background: rgb(74, 74, 254);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
    font-family: "Lato", sans-serif;
    padding: 20px;
}

#celcius, #fahrenheit, #kelvin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input {
    flex: 5;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.4);
}

.icon {
    flex: 1;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: blue;
    color: #fff;
    border-radius: 0 8px 8px 0;
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.4);
}


.button {
    margin-top: 10%;
    text-align: center;
}

.button button {
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    
}

.button button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.4);
    background: #000000a8;
    color: #fff;
}


